.dashboard {

  width: 100%;
  position: fixed;
  height: 24rem;
  z-index: 9;
  top: 9rem
}

.dashboard .Card {
  background: blue;
  position: relative;
}

.dashboard .CardContainer {
  position: fixed;
  width: 480px;
  height: 680px;
  background-color: red;
}