.Card {

  padding: 1rem;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  border: 1px solid black;


}

.Card-Container {
  width: 100%;
  margin: 16px, auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap
}


.flex-row {
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}

.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  margin: 100px auto 0;
  position: relative;
}

.popup-Button :hover {
  visibility: hidden;
}