.Card {


  margin: 0 auto;
  display: inline-block;
  position: relative;
  border: 1px solid black;
  background-color: #faebd7;
  width: 100%;
  height: 100vh;
}

.Card-Container {
  width: 100%;
  margin: 16px, auto;

  display: block;

  background-color: burlywood;
}

.PopupCardContent {
  border: 1px solid black;
  background-color: #F9FEE1;
  padding: 1em;
}

.PopupCardHeader {
  border: 1px solid black;
  background-color: gray;
}

.PopupContainer1 {
  position: fixed;
  top: 9rem;
  left: 43rem;
  height: 20rem;
  width: 70%;
  background-color: green;
  padding: 2rem;
  border: 5px solid black;
  display: flex;
  z-index: 15;
}

.PopupContainer2 {
  right: auto;
  top: 9rem;
  left: 13rem;
  height: 32rem;
  width: 32rem;
  position: fixed;
  z-index: 15;
}

.Popup2Content {
  position: fixed;
}