.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.innerForm {
  display: flex;
  flex-direction: column;
}
.fieldContainer {
  display: flex;
  justify-content: space-between;
}

.fieldContainer label {
  color: black;
  text-decoration: none;
}

.buttonContainer {
  padding: 1rem;
  margin: 1rem;
}

.buttonContainer .btn {
  padding: 1rem;
  margin: 5px;
}
