.Nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: solid black;
  margin-bottom: 3rem;
  width: 100%;
  z-index: 1;
  background-color: #efefef;
  position: fixed;

}

.Login {
  float: right;


}