.Nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  border-bottom: solid black;
  margin-bottom: 3rem;

  width: 100%;
  z-index: 10;
  background-color: #efefef;
}

.Login {
  float: right;


}